
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user-1:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-left-circled:before { content: '\e804'; } /* '' */
